.el-submenu .el-menu-item{
    font-size: 14px;
    padding-left: 50px !important;
    &.is-active{ background-color: rgba( 245, 108, 108, 0.5) !important; }
}
//修改一级菜单样式
.el-submenu{
   &.is-active.is-opened .el-submenu__title{
      background-color: $mian-Color !important;
   }
} 

.close{
   .el-submenu{
     &.is-opened{
      > .el-submenu__title{
        background-color: $mian-Color !important;
      } 
    }
  } 
}
.el-menu--vertical{
   .el-menu{ background-color: $mian-Color !important; }
   .el-menu-item:hover{ background-color: $mian-Color !important; }
   .el-menu-item{ line-height: 56px;}
}

/**table 样式*/
div .el-table{
   td,th{ text-align: center;}
   th{
      font-weight: bold;
      color: #344a5f;
   }
   td{ font-size: 14px; }
}
//dialog样式
.el-dialog__body{
   padding: 30px 47px !important;  
}
.el-dialog__footer{
   text-align: center !important; 
   margin-bottom: 50px !important; 
   .el-button{
      width: 150px;
      margin: 0 11px;
   }
}
//from 样式
.el-form{
   .el-from-item:first-child{
      margin-bottom: 0 !important;
   }
}

